과제1. Wikipedia 에서 테이블을 가진 페이지에서 DF 추울해보기.(어떤 페이지든 좋습니다. DF형태가 된다면.)

과제2. movies.csv 파일이 메모리에서 차지하는 용량을 줄이려고 합니다. 어떤 방법들이 있고, 시행했을 때 얼마나 메모리가 줄어들까요?

In [1]:
# 과제1

import numpy as np
import pandas as pd

url='https://ko.wikipedia.org/wiki/%EC%95%84%EC%9D%B4%EC%9C%A0%EC%9D%98_%EC%9D%8C%EB%B0%98_%EB%AA%A9%EB%A1%9D'
df_mu= pd.read_html(url, na_values='―')
df_mu
df_mu[1][:5]

               제목                                                 정보 가온 앨범 차트  \
               제목                                                 정보    주간[1]
0    《Growing Up》  발매일: 2009년 4월 23일 레이블: 로엔 엔터테인먼트 포맷: CD, 디지털 다운로드      NaN
1  《Last Fantasy》  발매일: 2011년 11월 29일 레이블: 로엔 엔터테인먼트 포맷: CD, 디지털 ...        1
2  《Modern Times》  발매일: 2013년 10월 8일 레이블: 로엔 엔터테인먼트 포맷: CD, 디지털 다운로드        1
3       《Palette》  발매일: 2017년 4월 21일 레이블: 로엔 엔터테인먼트 포맷: CD, 디지털 다운로드        1
4         《LILAC》  발매일: 2021년 3월 25일 레이블: 이담 엔터테인먼트 포맷: CD, 디지털 다운로드      NaN

                         판매량 Unnamed: 6_level_0 Unnamed: 7_level_0  \
  월간[2] 연간[3]            판매량 Unnamed: 6_level_1 Unnamed: 7_level_1
0   NaN   NaN            NaN                NaN                NaN
1     3    15  114,997[4][5]                NaN                NaN
2     3    45      40,360[6]                NaN                NaN
3     5    51          70568                NaN                NaN
4   NaN   NaN            NaN                NaN                NaN

  Unnamed: 8_level_0 Unnamed: 9_level_0 Unnamed: 10_level_0  \
  Unnamed: 8_level_1 Unnamed: 9_level_1 Unnamed: 10_level_1
0                NaN                NaN                 NaN
1                NaN                NaN                 NaN
2                NaN                NaN                 NaN
3                NaN                NaN                 NaN
4                NaN                NaN                 NaN

  Unnamed: 11_level_0 Unnamed: 12_level_0 Unnamed: 13_level_0
  Unnamed: 11_level_1 Unnamed: 12_level_1 Unnamed: 13_level_1
0                 NaN                 NaN                 NaN
1                 NaN                 NaN                 NaN
2                 NaN                 NaN                 NaN
3                 NaN                 NaN                 NaN
4                 NaN                 NaN                 NaN

In [2]:
# 과제2

movie= pd.read_csv('data/movie.csv', nrows=1000)
movie.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 28 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   color                      997 non-null    object
 1   director_name              982 non-null    object
 2   num_critic_for_reviews     998 non-null    float64
 3   duration                   997 non-null    float64
 4   director_facebook_likes    982 non-null    float64
 5   actor_3_facebook_likes     998 non-null    float64
 6   actor_2_name               999 non-null    object
 7   actor_1_facebook_likes     1000 non-null   float64
 8   gross                      965 non-null    float64
 9   genres                     1000 non-null   object
 10  actor_1_name               1000 non-null   object
 11  movie_title                1000 non-null   object
 12  num_voted_users            1000 non-null   int64
 13  cast_total_facebook_likes  1000 non-null   int64
 14  actor_3_name               998 non-null    object
 15  facenumber_in_poster       998 non-null    float64
 16  plot_keywords              992 non-null    object
 17  movie_imdb_link            1000 non-null   object
 18  num_user_for_reviews       998 non-null    float64
 19  language                   998 non-null    object
 20  country                    998 non-null    object
 21  content_rating             986 non-null    object
 22  budget                     961 non-null    float64
 23  title_year                 980 non-null    float64
 24  actor_2_facebook_likes     999 non-null    float64
 25  imdb_score                 1000 non-null   float64
 26  aspect_ratio               990 non-null    float64
 27  movie_facebook_likes       1000 non-null   int64
dtypes: float64(13), int64(3), object(12)
memory usage: 218.9+ KB

In [3]:
movie.describe().T

,count,mean,std,min,25%,50%,75%,max
num_critic_for_reviews,998.0,2.246503e+02,1.418149e+02,1.00,125.50,190.00,2.937500e+02,813.0
duration,997.0,1.167242e+02,2.616562e+01,22.00,100.00,115.00,1.300000e+02,280.0
director_facebook_likes,982.0,1.310123e+03,4.033584e+03,0.00,14.25,101.00,3.800000e+02,22000.0
actor_3_facebook_likes,998.0,1.298911e+03,2.845385e+03,0.00,307.25,562.00,8.540000e+02,23000.0
actor_1_facebook_likes,1000.0,1.066608e+04,1.124150e+04,2.00,980.50,10000.00,1.500000e+04,87000.0
gross,965.0,1.094586e+08,9.596531e+07,9213.00,43337279.00,80033643.00,1.412040e+08,760505847.0
num_voted_users,1000.0,1.775484e+05,1.981364e+05,6.00,54018.25,111052.50,2.301000e+05,1676169.0
cast_total_facebook_likes,1000.0,1.662582e+04,1.758710e+04,2.00,2972.00,12953.00,2.270325e+04,108016.0
facenumber_in_poster,998.0,1.224449e+00,1.703652e+00,0.00,0.00,1.00,2.000000e+00,15.0
num_user_for_reviews,998.0,5.274569e+02,5.719146e+02,1.00,194.00,342.00,6.392500e+02,5060.0
budget,961.0,9.230017e+07,4.665297e+07,1400000.00,60000000.00,75000000.00,1.120000e+08,300000000.0
title_year,980.0,2.005715e+03,6.702154e+00,1962.00,2001.00,2006.00,2.011000e+03,2016.0
actor_2_facebook_likes,999.0,3.268672e+03,5.171729e+03,0.00,555.50,871.00,3.000000e+03,27000.0
imdb_score,1000.0,6.496200e+00,1.000963e+00,2.20,5.90,6.50,7.200000e+00,9.0
aspect_ratio,990.0,2.275566e+00,1.103291e+00,1.33,1.85,2.35,2.350000e+00,16.0
movie_facebook_likes,1000.0,1.593171e+04,3.123175e+04,0.00,0.00,606.00,1.900000e+04,349000.0

In [4]:
#object인 것들 중 category로 바꿀 수 있는것이 무엇인지 확인한다.(unique가 10이하인 것을 category로 만들어준다.) 

movie.describe(include='O').T

,count,unique,top,freq
color,997,2,Color,973
director_name,982,469,Steven Spielberg,15
actor_2_name,999,695,Morgan Freeman,11
genres,1000,371,Action|Adventure|Sci-Fi,39
actor_1_name,1000,427,Will Smith,17
movie_title,1000,1000,Avatar,1
actor_3_name,998,823,Steve Coogan,7
plot_keywords,992,992,avatar|future|marine|native|paraplegic,1
movie_imdb_link,1000,1000,http://www.imdb.com/title/tt0499549/?ref_=fn_t...,1
language,998,7,English,987
country,998,14,USA,865
content_rating,986,9,PG-13,474

In [5]:
movie.columns

Index(['color', 'director_name', 'num_critic_for_reviews', 'duration',
       'director_facebook_likes', 'actor_3_facebook_likes', 'actor_2_name',
       'actor_1_facebook_likes', 'gross', 'genres', 'actor_1_name',
       'movie_title', 'num_voted_users', 'cast_total_facebook_likes',
       'actor_3_name', 'facenumber_in_poster', 'plot_keywords',
       'movie_imdb_link', 'num_user_for_reviews', 'language', 'country',
       'content_rating', 'budget', 'title_year', 'actor_2_facebook_likes',
       'imdb_score', 'aspect_ratio', 'movie_facebook_likes'],
      dtype='object')

In [6]:
#사용할 columns 중 이름이 긴 것을 보기 좋게 바꿔준다. 

cols_map={'num_critic_for_reviews':'critic_reviews',
          'cast_total_facebook_likes':'total_likes',
          'movie_facebook_likes':'movie_likes'}
          
movies=movie.rename(columns=cols_map)
movies.to_csv('movies.csv')

#메모리 용량을 줄이기 위해서 사용할 columns만 뽑아서 정리한다. 

cols=['color','director_name','critic_reviews','duration','genres','total_likes', 'movie_title','language','title_year','movie_likes']

#메모리 용량을 줄이기 위해서 category로 바꿀 수 있는 object는 category로 바꿔준다. 
#그 외에도 float64는 float16으로, int64는 int32로 바꿔준다. 

movies_dty= pd.read_csv('movies.csv', nrows=1000,
                        dtype={
                        'color': 'category',
                        'language': 'category',
                        'critic_reviews': np.float16,
                        'duration': np.float16,
                        'total_likes': np.int32, 
                        'title_year': np.float16,
                        'movie_likes': np.int32
                        },
                        usecols= cols)

movies_dty.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   color           997 non-null    category
 1   director_name   982 non-null    object
 2   critic_reviews  998 non-null    float16
 3   duration        997 non-null    float16
 4   genres          1000 non-null   object
 5   movie_title     1000 non-null   object
 6   total_likes     1000 non-null   int32
 7   language        998 non-null    category
 8   title_year      980 non-null    float16
 9   movie_likes     1000 non-null   int32
dtypes: category(2), float16(3), int32(2), object(3)
memory usage: 39.7+ KB

다음과 같은 과정을 통해 기존에 사용했던 메모리는 5배 넘게 줄어든 것을 확인 할 수 있다. 

기존 사용 메모리= 218.9

줄어든 메모리= 39.7

In [7]:
round(218.9/39.7, 2)

5.51

In [57]:
movies_dty

,color,director_name,critic_reviews,duration,genres,movie_title,total_likes,title_year,movie_likes
0,Color,James Cameron,723.0,178.0,Action|Adventure|Fantasy|Sci-Fi,Avatar,4834,2009.0,33000
1,Color,Gore Verbinski,302.0,169.0,Action|Adventure|Fantasy,Pirates of the Caribbean: At World's End,48350,2007.0,0
2,Color,Sam Mendes,602.0,148.0,Action|Adventure|Thriller,Spectre,11700,2015.0,85000
3,Color,Christopher Nolan,813.0,164.0,Action|Thriller,The Dark Knight Rises,106759,2012.0,164000
4,NaN,Doug Walker,NaN,NaN,Documentary,Star Wars: Episode VII - The Force Awakens,143,NaN,0
...,...,...,...,...,...,...,...,...,...
995,Color,Clint Eastwood,146.0,110.0,Action|Crime|Drama|Mystery|Thriller,Blood Work,18635,2002.0,705
996,Color,Tom Tykwer,245.0,118.0,Action|Crime|Drama|Mystery|Thriller,The International,7654,2009.0,0
997,Color,John Carpenter,104.0,101.0,Action|Adventure|Sci-Fi|Thriller,Escape from L.A.,15935,1996.0,0
998,Color,NaN,4.0,60.0,Drama|Mystery|Thriller,Twisted,2758,NaN,915
999,Color,Brad Bird,162.0,90.0,Action|Adventure|Animation|Comedy|Drama|Family...,The Iron Giant,16358,1999.0,0